<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>AllBuyBack</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>com.allbuyback.AllBuyBack.model.misc.SpringJavaConfiguration</param-value>
  </context-param>
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
  <resource-ref>
    <res-ref-name>jdbc/ABB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>HomeIndex.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
		<max-file-size>5242880000</max-file-size>
		<max-request-size>5242880000</max-request-size>
		<file-size-threshold>0</file-size-threshold>
	</multipart-config>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>*.SPRINGcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>country</servlet-name>
    <servlet-class>com.allbuyback.AllBuyBack.model.controller.CountryController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>country</servlet-name>
    <url-pattern>/Country2.controller2</url-pattern>
  </servlet-mapping>
</web-app>