 .productArea1{
     position:relative;
     margin-top:10px;
     height:780px;
     background-color:white;/*rgb(255,255,255)*/
 }
 
.productTitle {
    position:absolute;
    /*border:1px solid black;*/
    top:20px;
    left:20px;
    font-size:22px;
    font-family:微軟正黑體;
    font-weight:600;
    letter-spacing:5px;
}

#eye {
  position:absolute;
  top:80px;
  left:40px;
  /*margin-right:20px;*/

}
#heart {
  position:absolute;
  top:80px;
  left:100px;
  /*margin-right:20px;*/

}
#shoppingCart {
  position:absolute;
  top:80px;
  left:160px;
  margin-right:20px;

}
.mainPhoto {/*淡灰色背景*/
    position:absolute;
    top:120px;
    left:30px;
    /*border:solid black 1px;*/
    width:500px;
    height:450px;
    background-color:rgb(244,244,244);
    line-height:420px;/*讓圖片置中*/
    text-align:center;/*讓圖片置中*/
    padding:20px 10px;
}

.smallPhoto1 {/*淡灰色背景*/
    position:absolute;
    bottom:40px;
    left:30px;
    /*border:solid black 1px;*/
    width:100px;
    height:100px;
    background-color:rgb(244,244,244);
    line-height:100px;/*讓圖片置中*/
    text-align:center;/*讓圖片置中*/
}
.smallPhoto2 {/*淡灰色背景*/
    position:absolute;
    bottom:40px;
    left:150px;  /*與前張距離30px*/
    /*border:solid black 1px;*/
    width:100px;
    height:100px;
    background-color:rgb(244,244,244);
    line-height:100px;/*讓圖片置中*/
    text-align:center;/*讓圖片置中*/
}
.smallPhoto3 {/*淡灰色背景*/
    position:absolute;
    bottom:40px;
    left:270px;
    /*border:solid black 1px;*/
    width:100px;
    height:100px;
    background-color:rgb(244,244,244);
    line-height:100px;/*讓圖片置中*/
    text-align:center;/*讓圖片置中*/
}
/*---------右半部------*/
.price {
    position:absolute;
    right:35px;
    top:100px;
    border-bottom:1px solid lightgray;
    height:65px;
    width:550px;
    font-family:微軟正黑體;
    font-size:20px;
    line-height:65px;
    letter-spacing:5px;
}

.brand {
    position:absolute;
    right:35px;
    top:170px;
    border-bottom:1px solid lightgray;
    height:65px;
    width:550px;
    font-family:微軟正黑體;
    font-size:20px;
    line-height:65px;
    letter-spacing:5px;
}
.country {
    position:absolute;
    right:35px;
    top:240px;
    border-bottom:1px solid lightgray;
    height:65px;
    width:550px;
    font-family:微軟正黑體;
    font-size:20px;
    line-height:65px;
    letter-spacing:5px;
}
.waitDay{
    position:absolute;
    right:35px;
    top:310px;
    border-bottom:1px solid lightgray;
    height:65px;
    width:550px;
    font-family:微軟正黑體;
    font-size:20px;
    line-height:65px;
    letter-spacing:5px;
}


.count {/*數量*/
    position:absolute;
    right:35px;
    top:380px;
    border-bottom:1px solid lightgray;
    height:65px;
    width:550px;
    font-family:微軟正黑體;
    font-size:20px;
    line-height:65px;
    letter-spacing:5px;
}

.shoppingButton {/*加入購物車按鈕*/
     position:absolute;
     right:330px;
     top:455px;
     width:260px;
     height:50px;
     background-color:#8B7D6B;/*#CDB79E;/*rgb(42,186,171);*/
     color:white;
     font-size:22px;
     font-family:微軟正黑體;
     border-radius:5px 5px;
     border:#8B7D6B;

}


.wantBuy {/*聯絡賣家*/
     position:absolute;
     right:35px;
     top:455px;
     width:270px;
     height:50px;
     background-color:rgb(42,186,171);
     color:white;
     font-size:22px;
     font-family:微軟正黑體;
     border-radius:5px 5px;
     border:rgb(42,186,171);
}

.pay {
    position:absolute;
    right:35px;
    top:520px;
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
    height:65px;
    width:550px;
    font-family:微軟正黑體;
    font-size:20px;
    line-height:65px;
    letter-spacing:5px;

}

.deliver {
    position:absolute;
    right:35px;
    top:590px;
    border-bottom:1px solid lightgray;
    height:70px;
    width:550px;
    font-family:微軟正黑體;
    font-size:20px;
    line-height:65px;
    letter-spacing:5px;

}

.favorite{/*加入收藏*/
	 position:absolute;
     right:35px;
     top:680px;
     width:270px;
     height:50px;
     background-color:#FFAEB9;/*#CDB79E;/*rgb(42,186,171);*/
     color:white;
     font-size:22px;
     font-family:微軟正黑體;
     border-radius:5px 5px;
     border:#FFAEB9;
}

.successFavorite{
	 position:absolute;
     right:35px;
     top:700px;
	
}
/*---------------------*/
.productArea2{
     position:relative;
     margin-top:30px;
/*       height:1000px;  */
     background-color:rgb(255,255,255);
      letter-spacing:10px;
      padding-bottom:100px;
 }

.seller { /*賣家相關資訊 訂閱我*/
     margin-top:30px;
     height:620px;
     background-color:rgb(255,255,255);
     border-top:4px black solid;
     border-bottom:4px black solid;
     
}

